/*Variables*/

/*Colors*/

/*Background colors*/

$light-bg-color: #fff;
$dark-bg-color: #f2f3f5;

/*Font colors*/

$light-f-color: #fff;
$middle-f-color: #b2b2b2;
$dark-f-color: #5b5a5a;

/*Button / input colors*/

$accent-color-1: #99ccff;
$accent-color-2: #66cc66;
$accent-color-3: #ba122b;
$accent-color-4: #5335eb;
$accent-color-5: #755def;

/*Font*/

$main-font: 'Roboto', sans-serif;

/*Main settings*/

.container {
  padding-left: 0;
  padding-right: 0;
}


body {
  font-family: $main-font;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  min-width: 320px;
  max-width: 1315px;
}

section {
  width: 100%;
}

h2 {
  color: $dark-f-color;
}

/*Navigation*/

.navbar {
  background-color: $light-bg-color;
  .navbar-toggler {
    color: $middle-f-color;
    border: $middle-f-color;
  }
}

nav {
  .nav-link {
    color: $dark-f-color;
    border-bottom: solid 2px transparent;
    &:focus,
    &.active.show,
    &:hover {
      color: $accent-color-4;
      border-bottom: solid 2px $accent-color-4;
    }
  }
}

  /*Overlay settings*/

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 90;
  display: none;
}

.show {
  display: block;
}

/*Carousel*/

.carousel-inner {
  .carousel-item {
    max-height: 400px;
    .carousel-caption {
      top: 20%;
      p {
        font-size: 0.9rem;
      }
    }
  }
}

.carousel-indicators {
  li {
    width: 1.7rem;
    height: 0.4rem;
    border-radius: 1rem;
    border: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  div {
    background-color: rgba(178, 178, 178, 0.4);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    span {
      height: 1rem;
      width: 0.9rem;
      margin-top: 0.7rem;
    }
  }
}

  /*Overlay settings*/

.overlay {
  background-color: rgba(32, 32, 32, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


/*Registration*/

section.registration {
  background-color: $dark-bg-color;
}

  /*Form*/

form {
  .form-control {
    padding: 1.5rem 1rem;

    &:focus {
      box-shadow: none;
      border-color: $accent-color-1 !important;
    }
  }
}

  /*Terms, conditions, etc. part*/

    /*Custom checkbox*/

.custom-control-input:checked~.custom-control-label::before {
  background-color: $light-bg-color;
  border-color: $middle-f-color;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='SlateBlue' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

  /*Terms, conditions, etc. section*/

    /*Bigger screen component*/

.registration {
  .nav-link {
    background-color: transparent !important;
    border: none;
  }
  .custom-control {
    a {
      text-decoration: underline;
      color: $accent-color-5;
      &:hover {
        text-decoration: none;
        color: $accent-color-4;
      }
    }
  }
}

.registration {
  .nav-item {
    color: $dark-f-color;
    border-bottom: solid 2px transparent;
    &:focus,
    &:hover
    {
      color: $accent-color-4;
      border-bottom: solid 2px $accent-color-4;
    }
    .nav-link {
      color: $dark-f-color;
    }
  }
}

    /*Smaller screen component*/

.tab-content,
.form-check,
.custom-control {
  font-size: 0.8rem;
}

.register {
  background-color: $accent-color-4;
  color: $light-f-color;
  border-radius: 5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 0.8rem 2.6rem;

  &:hover {
    background-color: $accent-color-5;
    color: $light-f-color;
  }

  &:focus {
    box-shadow: none;
  }
}

.registration {
  button.btn:focus {
    box-shadow: none;
    .collapse {
      color: $light-f-color;
      background-color: $accent-color-4;
    }
  }
}

.card {
  .card-header {
    &:hover {
      cursor: pointer;
    }
  }
  [aria-expanded="true"] {
    color: $light-f-color;
    background-color: $accent-color-4;
  }
}

.accordion>.card .card-header {
  margin-bottom: 1px;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

    /*Tooltip*/

.tooltip {
  z-index: 10;
}

.tooltip-inner {
  background-color: $accent-color-3;
}

.bs-tooltip-right .arrow::before {
  border-right-color: $accent-color-3;
}
