/*Variables*/
/*Colors*/
/*Background colors*/
/*Font colors*/
/*Button / input colors*/
/*Font*/
/*Main settings*/
.container {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 3.125rem;
  min-width: 320px;
  max-width: 1315px;
}

section {
  width: 100%;
}

h2 {
  color: #5b5a5a;
}

/*Navigation*/
.navbar {
  background-color: #fff;
}

.navbar .navbar-toggler {
  color: #b2b2b2;
  border: #b2b2b2;
}

nav .nav-link {
  color: #5b5a5a;
  border-bottom: solid 2px transparent;
}

nav .nav-link:focus, nav .nav-link.active.show, nav .nav-link:hover {
  color: #5335eb;
  border-bottom: solid 2px #5335eb;
}

/*Overlay settings*/
.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 90;
  display: none;
}

.show {
  display: block;
}

/*Carousel*/
.carousel-inner .carousel-item {
  max-height: 400px;
}

.carousel-inner .carousel-item .carousel-caption {
  top: 20%;
}

.carousel-inner .carousel-item .carousel-caption p {
  font-size: 0.9rem;
}

.carousel-indicators li {
  width: 1.7rem;
  height: 0.4rem;
  border-radius: 1rem;
  border: 0;
}

.carousel-indicators li:hover {
  opacity: 1;
}

.carousel-control-prev div,
.carousel-control-next div {
  background-color: rgba(178, 178, 178, 0.4);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.carousel-control-prev div span,
.carousel-control-next div span {
  height: 1rem;
  width: 0.9rem;
  margin-top: 0.7rem;
}

/*Overlay settings*/
.overlay {
  background-color: rgba(32, 32, 32, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*Registration*/
section.registration {
  background-color: #f2f3f5;
}

/*Form*/
form .form-control {
  padding: 1.5rem 1rem;
}

form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #99ccff !important;
}

/*Terms, conditions, etc. part*/
/*Custom checkbox*/
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border-color: #b2b2b2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='SlateBlue' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

/*Terms, conditions, etc. section*/
/*Bigger screen component*/
.registration .nav-link {
  background-color: transparent !important;
  border: none;
}

.registration .custom-control a {
  text-decoration: underline;
  color: #755def;
}

.registration .custom-control a:hover {
  text-decoration: none;
  color: #5335eb;
}

.registration .nav-item {
  color: #5b5a5a;
  border-bottom: solid 2px transparent;
}

.registration .nav-item:focus, .registration .nav-item:hover {
  color: #5335eb;
  border-bottom: solid 2px #5335eb;
}

.registration .nav-item .nav-link {
  color: #5b5a5a;
}

/*Smaller screen component*/
.tab-content,
.form-check,
.custom-control {
  font-size: 0.8rem;
}

.register {
  background-color: #5335eb;
  color: #fff;
  border-radius: 5rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 0.8rem 2.6rem;
}

.register:hover {
  background-color: #755def;
  color: #fff;
}

.register:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.registration button.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.registration button.btn:focus .collapse {
  color: #fff;
  background-color: #5335eb;
}

.card .card-header:hover {
  cursor: pointer;
}

.card [aria-expanded="true"] {
  color: #fff;
  background-color: #5335eb;
}

.accordion > .card .card-header {
  margin-bottom: 1px;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

/*Tooltip*/
.tooltip {
  z-index: 10;
}

.tooltip-inner {
  background-color: #ba122b;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #ba122b;
}

/*# sourceMappingURL=style.css.map */